@use '../abstracts';

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: abstracts.$max-width;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;
  color: var(--text);
  background-color: var(--secondary);
}
main {
  position: relative;
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
