@use '../abstracts';

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.primary-transition {
  transition:
    color 0.3s ease,
    background-color 0.2s ease;
}

.container {
  max-width: calc(#{abstracts.$max-width} - 2 * 82px);
  margin: 0 auto;
  width: 100%;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
