:root {
  --primary: #ea1e63;
  --primary-contrast: #4d2d38;
  --secondary: #303030;
  --secondary-contrast: #4a4a4a;
  --bg: #424242;
  --bg-contrast: #212121;
  --text: #e2e2e2;
  --text-contrast: #8c8c8c;
}

.light-theme {
  --primary: #d8e3ff;
  --primary-contrast: #326fb4;
  --secondary: #faf9fe;
  --secondary-contrast: #e0e3ec;
  --bg: #d5d3d8;
  --bg-contrast: #efedf0;
  --text: #57565b;
  --text-contrast: #777a83;
}
